body {
    color: white;
    background-color: #111111;
    font-family: 'Lato', sans-serif;
}

.header h1{
    font-size: 80px;
}
.navbar {
    font-family: 'Raleway', sans-serif;
    background-color: #333333;
    box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.75);
}

.navbar .navbar-toggler-icon {
    background-image: url("static/images/toggler.svg");
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.navbar a:hover, .navbar a:active {
    background-color: #212121;
    border-radius: 6px;
}

.content{
    margin-top: 25px;
}
.solid-flex{
    background-color: #212121;
    box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.75);
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.solid-flex h1{
    font-size: 120px;
}
.solid-flex p{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.supported-games{
    background-color: #202020;
    box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.75);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.supported-games button{
    display: inline;
}

.about{
    background-color: #202020;
    box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.75);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}