body {
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: #121212;
}

.video-container{
    position: relative;
}
video{
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:0;
    position:relative;
}
.video-overlay{
    position: absolute;
    z-index:1;
    top: 0;
    text-align: center;
    background-color: #0000007F;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
}

.header h1{
    font-size: 80px;
}
.navbar {
    font-family: 'Raleway', sans-serif;
    background-color: #333333;
    box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.75);
}

.navbar .navbar-toggler-icon {
    background-image: url("../images/toggler.svg");
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.navbar a:hover, .navbar a:active {
    background-color: #212121;
    border-radius: 6px;
}
.nav-link{
    display: inline;
}

.content{
    background-color: #212121;
    box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.75);
}
.inline-content{
    display: flex;
}

.jumbotron{
    background-color: #212121;
}

.page-head{
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    flex: 1;
}
.page-head h1{
    font-size: 80px;
}
.page-head p{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.page-desc{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
    padding-top: 50px;
    margin-bottom: 10px;
    flex: 1;
    float: right;
}
.page-desc button{
    display: inline;
}
.page-desc p{
    font-size: 18px;
}

.page-about{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 15px;
}
.page-about p{
    font-size: 18px;
}

.bottom-pad{
    padding-bottom: 25%;
}

.download-name {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}
.download-desc {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.download-button{
    font-size: large;
    background-color: #111111;
}